.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item {
  display: inline;
  padding: 0 20px 0 20px;
}

.logo {
  margin: 0;
}
