.wrapper {
  min-height: 400px;
  background: url("/static/images/showcase.jpg") no-repeat;
  text-align: center;
  color: #fff;
}

.wrapper h1 {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.wrapper p {
  font-size: 20px;
}
